.addUser{
  padding: 30px;
  height: max-content;
  width: max-content;
  border-radius: 10px;
  position: absolute;
  top: -35%;
  bottom: 0;
  left: -15%;
  right: 0;
  margin: auto;  
  background-color: rgba(0, 0, 0, 0.767);
  backdrop-filter: blur(80px);
  -webkit-backdrop-filter: blur(80px);
  box-shadow:0 4px 8px 1px rgba(0, 0, 0, 0.43)  ;
  form{
    display: flex;
    gap: 20px;
    input{
      padding: 10px;
      border-radius: 10px;
      border: none;
      outline: none;
    }
  }
}
.detail{
  display: flex;
  gap: 20px;
  img{
    border-radius: 50%;
    height: 40px;
    width: 40px;
  }
}
.user{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}