body{
  background-image: url("/media/smooth-black-concrete-wall-background.jpg");
  background-repeat: repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
