body{
  background-image: url("/media/smooth-black-concrete-wall-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% 200%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
